Flask==2.2.3
openai-whisper==20230314
deep_translator==1.11.4
gtts==2.3.2
yt-dlp==2023.3.4
uuid==1.30
httpcore==0.9.1
httpx==0.13.3
PyPDF2==3.0.1
pytesseract==0.3.10
pillow==9.5.0
# This is the correct package for Word doc processing
python-docx==0.8.11
torch==2.0.0
transformers==4.27.4
sniffio==1.2.0
